html{
background-color: black;
}

div {
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:black; left:0px; top:0px;}
    25%  {background-color:black; left:200px; top:0px;}
    50%  {background-color:black; left:200px; top:200px;}
    75%  {background-color:black; left:0px; top:200px;}
    100% {background-color:black; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:black; left:0px; top:0px;}
    25%  {background-color:black; left:200px; top:0px;}
    50%  {background-color:black; left:200px; top:200px;}
    75%  {background-color:black; left:0px; top:200px;}
    100% {background-color:black; left:0px; top:0px;}
}

h1{
color: white;
}
